<ion-header translucent>
  <ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon slot="icon-only" name="logo-ionic"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Ingresar</ion-title>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon slot="icon-only" name="star"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="./assets/aves-bogota-humedales.jpg" />
    <ion-card-header>
      <ion-card-title>Humedales de Bogotá</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-segment id="credentialsType" (ionChange)="segmentAuthChanged($event)" class="margin-segment">
        <ion-segment-button id="signin" value="signin" class="signin" checked>
          <ion-label>Iniciar sesión</ion-label>
        </ion-segment-button>
        <ion-segment-button id="signup" value="signup" class="signup">
          <ion-label>Registrarse</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div id="wrapper" class="signin-wrapper">
        <input id="email" placeholder="Email" type="email" required [(ngModel)]="signInUser.login">
        <div class="inputPassword">
         <input id="pass" placeholder="Contraseña" [type]="passwordType" [(ngModel)]="signInUser.password">
         <button class="button-show-password" clear item-right (click)="showHidePassword()">
           <ion-icon id="showPass" class="icon-show-password" [name]="passwordIcon"></ion-icon>
         </button>
        </div>
        <input id="name" for-signup placeholder="Nombre" type="text" class="disabled-input" [(ngModel)]="signUpUser.name">
        <input id="last_name" for-signup placeholder="Apellido" type="text" class="disabled-input" [(ngModel)]="signUpUser.last_name">
      </div>
      <ion-button id="buttonSubmit" expand="block" (click)="onSubmitBtn()" credentials="signIn">Iniciar</ion-button>
    </ion-card-content>
    <ion-card-header>
      <div id="hint">Haga click en las pestañas</div>
    </ion-card-header>
  </ion-card>
</ion-content>
