<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Humedales de Bogotá</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <input checked=true id="signin" name="action" type="radio" value="signin">
      <label for="signin">Iniciar sesión</label>
      <input id="signup" name="action" type="radio" value="signup">
      <label for="signup">Registrarse</label>
      <input id="reset" name="action" type="radio" value="reset">
      <label for="reset">Reset</label>
      <div id="wrapper">
        <div id="arrow"></div>
        <input id="email" placeholder="Email" type="text">
        <input id="pass" placeholder="Contraseña" type="password">
        <input id="repass" placeholder="Confirmar contraseña" type="password">
        <input id="name" placeholder="Nombre" type="text">
        <input id="last_name" placeholder="Apellido" type="text">
        <input id="address" placeholder="Dirección" type="text">
        <input id="cellphonenumber" placeholder="Numero celular" type="number">

      </div>
      <button type="submit">
        <span>
          Recuperar contraseña
          <br/>
          Iniciar
          <br/>
          Registrarse
        </span>
      </button>
    </ion-card-content>
    <ion-card-header>
      <div id="hint">Haga click en las pestañas</div>
    </ion-card-header>
  </ion-card>
</ion-content>
